# Домашнее задание 1

Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [7]:
df.info()
# в таблице нет пропущенных значений, используется три типа данных

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

# Домашнее задание 2

Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [11]:
df.dtypes
# в таблице три типа данных, из них 20 столбцов с численными значениями (int или float) и 1 строковый, который содержит дату

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [13]:
df.isna().sum()
#  ни в одном из столбцов нет пропущенных ячеек

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [8]:
df.describe()
# id: нет смысловой нагрузки для анализа, это просто id
# price: средняя цена на дом = 540 тысяч; разброс цен находится в промежутке (75000;7700000); медиана = 450 тыс.
# 50% домов имеют цену в промежутке (321950;645000)
# bedrooms: среднее кол-во спален - 3.37, минимум - 0, максимум - 33. не менее 50% домов имеют от 3 до 4 спален, медиана-3
# bathrooms: в среднем в доме 2.11 ванных комнат, медиана - 2.25, мин -0 , макс - 8
# 50% домов имеют кол-во ванных комнат в промежутке (1.75; 2.5)
# sqft_living: средняя жилая площадь - 2079 кв футов, мин 290, макс 2550
# sqft_lot: средняя площать дома - 15106.97, мин 540, макс 1651359
# floors: в среднем 1.49 этажа, медиана 1.5, не менее 50% имеют 1-2 этажа. Максимум - 3.5 этажа
# waterfront       0
# view             0
# condition: оценка состояния дома в среднем 3.41. Наихудшая - 1, наилучшая - 5
# grade: оценка? средняя - 7.65, разброс в промежутке (1.17; 13), 50% имеют оценку в промежутке (7;8)
# sqft_above - данные по площади верхних этажей; средняя - 1788.39; разброс (290, 9410)
# sqft_basement - данные по площади подвала; средняя - 291.51; разброс (0, 4820.), медиана - 0; то есть у 50% домой точно нет подвала
# yr_built: год постройки в среднем 1971; разброс (1900, 2015), медиана - 1975, 50% домов были построены в период 1951-1997
# yr_renovated: год реконструкции; 75% домов точно не имели никакой реставрации.
# zipcode: индекс в данном аспекте статистических показателей ничего не дает, но при локации на карте можно было бы
# определить, в каких районах продается больше/меньше всего домов
# lat: широта; аналогично индексу, имеет смысл рассматривать на карте
# long долгота; аналогично индексу, имеет смысл рассматривать на карте
# sqft_living15 - данные отличаются от столбца 'sqft_living', не знаю, что означают
# sqft_lot15 - данные отличаются от столбца 'sqft_lot', не знаю, что означают

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [10]:
df.describe(include=['object'])
# дата - это, видимо, дата выставления дома на продажу/ дата оценки дома. Всего 372 уникальных значения, 
# то есть оценивали дома "пачками", это скорее всего автоматическая оценка/переоценка

                   date
count             21613
unique              372
top     20140623T000000
freq                142

In [20]:
df['date'].value_counts()
# чаще всего встречается дата 23 июня 2014. Чтобы сделать какие-то другие выводы, нужны другие исследования

date
20140623T000000    142
20140626T000000    131
20140625T000000    131
20140708T000000    127
20150427T000000    126
                  ...
20141102T000000      1
20150131T000000      1
20150524T000000      1
20140517T000000      1
20140727T000000      1
Name: count, Length: 372, dtype: int64

In [26]:
date2014 = df[df['date'].str.contains('2014')].shape[0]
date2014

14633

In [27]:
date2015 = df[df['date'].str.contains('2015')].shape[0]
date2015

6980

In [28]:
date2014 / (date2014 + date2015)
# 67.7% домов оценены в 2014 году

0.6770462221810947

In [37]:
date2014 = (df[df['date'].str.contains('201401')].shape[0], df[df['date'].str.contains('201402')].shape[0], df[df['date'].str.contains('201403')].shape[0], df[df['date'].str.contains('201404')].shape[0], df[df['date'].str.contains('201405')].shape[0],df[df['date'].str.contains('201406')].shape[0], df[df['date'].str.contains('201407')].shape[0], df[df['date'].str.contains('201408')].shape[0], df[df['date'].str.contains('201409')].shape[0], df[df['date'].str.contains('201410')].shape[0], df[df['date'].str.contains('201411')].shape[0],df[df['date'].str.contains('201412')].shape[0])
date2014

(0, 0, 0, 0, 1768, 2180, 2211, 1940, 1774, 1878, 1411, 1471)

In [39]:
date2015 = (df[df['date'].str.contains('201501')].shape[0], df[df['date'].str.contains('201502')].shape[0], df[df['date'].str.contains('201503')].shape[0], df[df['date'].str.contains('201504')].shape[0], df[df['date'].str.contains('201505')].shape[0],df[df['date'].str.contains('201506')].shape[0], df[df['date'].str.contains('201507')].shape[0], df[df['date'].str.contains('201508')].shape[0], df[df['date'].str.contains('201509')].shape[0], df[df['date'].str.contains('201510')].shape[0], df[df['date'].str.contains('201511')].shape[0],df[df['date'].str.contains('201512')].shape[0])
date2015

(978, 1250, 1875, 2231, 646, 0, 0, 0, 0, 0, 0, 0)

In [45]:
max(date2014 + date2015)
# больше всего оценено домов было в месяц, когда оценили 2231 дом (это апрель 2015)

2231

In [ ]:
# Все дома были оценены в период с мая 2014 по май 2015

# Домашнее задание 3

## 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [47]:
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
11692,8818400340,20150423T000000,1081000.0,4,3.00,2490,4325,1.5,0,0,...,8,1690,800,1922,2003,98105,47.6628,-122.326,1960,4284
10430,1592000640,20141119T000000,570000.0,3,2.25,2180,9246,2.0,0,0,...,9,2180,0,1984,0,98074,47.6215,-122.031,2300,9298
5699,2125049120,20140505T000000,770000.0,3,2.00,2350,5700,1.5,0,0,...,8,1810,540,1939,0,98112,47.6390,-122.310,2170,6000
1798,1139000685,20140729T000000,580000.0,4,2.75,2330,6703,1.5,0,0,...,7,1710,620,1983,0,98177,47.7066,-122.359,2060,7500
15042,8924100305,20150325T000000,855000.0,4,3.00,2590,6250,2.0,0,2,...,9,2240,350,1964,0,98115,47.6774,-122.267,2260,6780

In [48]:
(df['price'].min(), df['price'].max())

(75000.0, 7700000.0)

## 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [50]:
round(df['sqft_living'].mean()/df['sqft_lot'].mean() * 100, 2)

13.77

## 3.3 Как много домов с разными этажами в данных?

In [54]:
round(df[df['floors'] > 1].shape[0] / df.shape[0] * 100,2)

50.59

In [63]:
df['floors'].value_counts(normalize=True)

floors
1.0    0.494147
2.0    0.381298
1.5    0.088373
3.0    0.028363
2.5    0.007449
3.5    0.000370
Name: proportion, dtype: float64

In [64]:
(1 - 0.494147) * 100

50.5853

In [ ]:
# как разделить данные на 1 и больше 1, а не много разных значений?

## 3.4 Насколько хорошие состояния у домов в данных?

In [68]:
df['condition'].value_counts(normalize=True)
# почти у 65% оценка состояния - 3, оценка 3 или 4 у 91,2% домов, оценка 5 только у 7.87% домов, 1-2 менее чем у 1%

condition
3    0.649193
4    0.262759
5    0.078703
2    0.007958
1    0.001388
Name: proportion, dtype: float64

In [69]:
0.649193 + 0.262759

0.9119520000000001

In [70]:
0.001388 + 0.007958

0.009346

## 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [78]:
df['yr_built'].head(1)

0    1955
Name: yr_built, dtype: int64

In [79]:
df['yr_built'].tail(1)

21612    2008
Name: yr_built, dtype: int64

# Домашнее задание 4

## 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [81]:
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
12016,5608000860,20140926T000000,920000.0,4,2.5,3470,10045,2.0,0,0,...,10,3470,0,1993,0,98027,47.5540,-122.095,4370,12359
1746,3629920860,20150105T000000,729000.0,4,2.5,2660,5608,2.0,0,0,...,9,2660,0,2003,0,98029,47.5449,-121.995,3010,5608
19749,6362900138,20141103T000000,379900.0,2,1.5,1240,1331,2.0,0,0,...,7,1050,190,2007,0,98144,47.5959,-122.298,1250,1431
11236,2397101375,20150428T000000,595000.0,2,1.0,980,3600,1.0,0,0,...,6,980,0,1907,0,98119,47.6366,-122.365,1690,3600
12982,126059021,20150402T000000,200000.0,4,1.0,1020,42966,1.5,0,0,...,6,1020,0,1922,0,98072,47.7617,-122.110,2250,37680

In [83]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

## 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [85]:
df[df['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

## 4.3 Как много домов коснулся ремонт?

In [92]:
df[df['yr_renovated'] > 0].shape[0]

914

## 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [95]:
df[df['grade'] > 10]['price'].mean() / df[df['grade'] < 4]['price'].mean()
# почти в 9 раз дороже, или дороже на 784%

8.846561884215443

# Домашнее задание 5

## 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [98]:
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
19331,123039176,20141212T000000,399888.0,4,1.00,2370,30200,1.5,0,0,...,7,1570,800,1948,0,98146,47.5108,-122.366,1640,9719
3706,1773100121,20140623T000000,286000.0,3,2.75,1100,750,2.0,0,0,...,7,780,320,2008,0,98106,47.5601,-122.363,1170,4800
18361,5053300015,20150121T000000,212000.0,2,1.00,1070,7386,1.0,0,0,...,6,1070,0,1949,0,98108,47.5434,-122.298,1330,6351
12878,9310300211,20141114T000000,284000.0,3,1.00,1080,8214,1.0,0,0,...,7,1080,0,1944,0,98133,47.7401,-122.348,1850,13560
7497,5101404698,20141215T000000,365000.0,2,1.50,1200,6380,1.0,0,0,...,7,1200,0,1929,0,98115,47.6970,-122.319,1290,6598

In [102]:
df[(df['waterfront'] > 0) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)].shape[0]

41

## 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и 
год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [105]:
# под "очень красивый вид из окна" понимаю view = 4
df[((df['view'] == 4)  | (df['waterfront'] > 0)) & (df['condition'] == 5) & (df['yr_built'] >= 1980)]['price'].min(), df[((df['view'] == 4) | (df['waterfront'] > 0)) & (df['condition'] == 5) & (df['yr_built'] >= 1980)]['price'].max(),
# можно обойтись без условия про вид на набережную, т.к. в данной выборке все дома с видом на набережную имеют вид из окна = 4

(1295000.0, 3000000.0)

## 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. 
Какая оценка по состоянию у таких домов в среднем?

In [ ]:
df[(df['sqft_basement'] = 0) & ]['condition'].mean()